@import "../index.module.scss";

.backgroundLogic {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100vh;
  left: 0;
  position: fixed;
  @include customFlex(center, center);
  top: 0;
  z-index: 20;
  width: 100%;
  &--widthModif {
    @include customFlex(center, center);
    width: 400px;
  }
}
