@import '../Data/Data.module.scss';
@import '../index.module.scss';

.counter {
    @include BorderBoxStyle;
    @include customFlex(space-around,center);
    font-size:2.5rem;
    padding: 10px;
    width: max-content;
    span{
        margin-right: 10px;
    }
}