$backgroundColor: #d6cceb;
$itemBackgroundColor: #ccd4eb;
$extraDarkerColor: #5452ab;

$whiteStatus: #f5f5f5;
$yellowStatus: #ecec27;
$greenStatus: #127a12;
$redStatus: #be3030;

body {
  background-color: $backgroundColor;
  margin: 0;
  padding: 0;
}

@mixin ColorsStatus() {
  .sended {
    background-color: $whiteStatus;
    color: black;
  }
  .opened {
    background-color: $yellowStatus;
    color: black;
  }

  .offer {
    background-color: $greenStatus;
    color: #f5f5f5;
  }
  .canceled {
    background-color: $redStatus;
    color: #f5f5f5;
  }
}

@include ColorsStatus();


@mixin customFlex($justifyContent: "", $alignItems: "") {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin popup {
  position: relative;
  width: 100%;
  background-color: $extraDarkerColor;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
  height: 50vh;
  @include customFlex(center, center);
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 2px 8px rgba(100, 100, 100, 0.979);
}
